@import "~bulma";

#header {
    background: #222;

    .title {
        line-height: inherit;
        margin: 0 20px;
        color: #eee;
    }
}

.result .rectangle {
    height: 100%;
    border: 1px solid black;
}

.example .card-content {
    height: 100px;
}